.div2 * ,
.header-msg * {

  padding: 0;
  margin: 0;
  line-height: 1;
}
.div2 a,
.header-msg a{
  text-decoration: none;
}

.div2 a:hover ,
.header-msg a:hover{
  text-decoration: underline;
}
.vh {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: none;
}

.header-msg,
.div2 {
  font-size: 18px;
  padding: 25px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 1%;
}
.div2 {
  position: relative;
}
.header-msg {
  position: relative;
  border: 5px solid hsla(107, 80%, 70%,1);
  background-color: hsla(107, 60%, 60%,1);
  height: auto;
  &::after {
    content: " ";
    clear: both;
    display: table;
  }
  &__link {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__text {
    width: auto;
    padding: 0;
    margin: 0;
  }
  &__btn {
    font-size: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 27px;
    height: 27px;
    transition: 300ms;
    cursor: pointer;
    right: 15px;
    top: 7px;

    &:after,
    &:before {
      content: "";
      border-radius: 25px;
      position: absolute;
      display: block;
      width: 30px;
      height: 3px;
      border: 1px solid hsla(255, 0%, 0%,1);
      background-color: hsla(120, 30%, 50%,1);
      border-radius: 15px;
      // background-color: hsla(0, 100%, 100%, 1)
      left: -2px;
      top: 10px;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:hover {
      transition: 300ms;
      transform: scale(1.2);

    }
  }
}

.div2 {
  border: 5px solid hsla(17, 78%, 19%,1);
  background-color: hsla(17, 68%, 59%,1);
}
