body {
  height: 100vh;
  background: transparent;
  margin: 0 auto;
  width: @mobile-area;
  outline: 1px solid hsla(0, 0%, 0%, 1);
  outline-offset: -1px;
}

.widget {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &__first-block {
    order: 2;

    @media @media-7 {
      order: 1;
    }
  }

  &__second-block {
    order: 1;

    @media @media-7 {
      order: 2;
    }
  }
}

.first-block {
  position: relative;
  background-color: red;
  background-image: url('../img/logo.jpg1');
  background-position: 50% 50%;
  background-size: cover;
  height: 250px;

  &__logo {
    position: absolute;
    top:0;
    left: 0;
    padding: 5px;
    background-color: white;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    border-bottom-right-radius: 5px;

  }


  &__img {
    width: 100%;
    // margin:0;
    // height: 100%;
    // min-height: 100%;
  }
}

.second-block {
  background-color: #4fb3ff;
  padding: 15px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0;

  &__text {
    margin-bottom: 40px;
  }

  &__link {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px 10px;
    border-radius: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}


picture {
  // height: 1px;
  // max-height: 1px;
  font-size: 0;
}
