body,
.div1 h1,
.div1 h2,
.div1 h3,
.div1 p,
.div1 span {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.vh {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: none;
}

.div1,
.div2 {
  font-size: 18px;
  padding: 25px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 1%;
}

.div1 {
  position: relative;
  border: 5px solid hsla(107, 78%, 19%,1);
  background-color: hsla(107, 68%, 59%,1);
  &__link {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__text {
    width: auto;
    padding: 0;
    margin: 0;
  }
  &__btn {
    font-size: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 50px;
    height: 44px;
    transition: 300ms;
    cursor: pointer;
    right: 1.5%;
    top: 3%;

    &:after,
    &:before {
      content: "";
      border-radius: 25px;
      position: absolute;
      display: block;
      width: 50px;
      height: 7px;
      // border: 5px solid hsla(255, 0%, 0%,1);
      background-color: hsla(255, 0%, 10%,1);
      // background-color: hsla(0, 100%, 100%, 1)
      left: 0;
      top: 18px;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:hover {
      transition: 300ms;
      transform: scale(1.2);

    }
  }
}

.div2 {
  border: 5px solid hsla(17, 78%, 19%,1);
  background-color: hsla(17, 68%, 59%,1);
}
