// @import "blocks/fonts";

.vh {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0!important;
  border: 0!important;
  height: 1px!important;
  width: 1px!important;
  overflow: hidden;
  color: transparent;
  font-size: 0;
}


// mobile
@mobile: ~"(min-width: 250px)";
@mobile-area: 250px;

@media-5: ~"(min-width: 585px)";
@media-800: ~"(min-width: 800px)";
@media-8: ~"(min-width: 840px)";
@media-11: ~"(min-width: 1115px)";
@media-1200: ~"(min-width: 1200px)";


@height-block: 200px;

// Mode: Tablet
@tablet: ~"(min-width: 768px)";
@tablet-area: 750px;

// Mode: Desktop
@desktop: ~"(min-width: 1024px)";
@desktop-area: 970px;

@import "blocks/body";



