// @import "blocks/fonts";


// mobile
@mobile: ~"(min-width: 293px)";
@mobile-area: 293px;

@media-5: ~"(min-width: 585px)";
@media-7: ~"(min-width: 799px)";
@media-8: ~"(min-width: 840px)";
@media-11: ~"(min-width: 1115px)";
@media-12: ~"(min-width: 1116px)";


// Mode: Tablet
@tablet: ~"(min-width: 768px)";
@tablet-area: 750px;

// Mode: Desktop
@desktop: ~"(min-width: 1024px)";
@desktop-area: 970px;

@import "blocks/body";



